.layout {
  display: flex;
  height: 100vh;
  background-color: var(--content-bg);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrolling on the main container */
}

.pageContent {
  flex-grow: 1;
  padding: 1.5rem 2rem;
  overflow-y: auto; /* Allow scrolling only on the content area */
}